.screen-header{
   display: flex;
   justify-content: space-between; 
   align-items: center;
   width: 100%;
   box-sizing: border-box;
   padding : var(--horizental-space);
   top: 30px;
}

.screen-header__title{
    font-size: 32px;
    font-weight: 600p;
}

.screen-header__icons span{
    margin-left: 25px;
}