.user-component__avatar{
    width:70px;
    height: 70px;
    margin-right:20px;
    border-radius: 27px;
}

.user-component__avatar--xl{
    width:80px;
    height: 80px;
}

.user-component,
.user-component__column:first-child{
    display:flex;
    align-items: center;
}
.user-component__title{
    font-size: 18px;
    font-weight: 600;
    color: palevioletred

    
}

.user-component__subtitle{
    margin-top: 5px;
    font-size: 13px;
    color: rgba(0,0,0,0.8);
}